/* Styling for the menu */

.menu-icon {
	width: 1.5rem;
	align-self: flex-end;
	cursor: pointer;
}

.full-navigation {
	display: flex;
	flex-wrap: row nowrap;
	justify-content: space-between;
	align-items: center;
}

@media (min-width: 64rem) {
	.full-navigation {
		align-items: flex-start;
	}
}

.navigation-desktop {
	display: none;
}

@media (min-width: 64rem) {
	.navigation-mobile {
		display: none;
	}

	.navigation-desktop {
		display: flex;
		flex-flow: column wrap;
	}
}

.navigation-desktop__top {
	display: flex;
	align-items: center;
	line-height: 0;
	gap: 3rem;
}

.search-form__input {
	display: flex;
}

.search-form__input>input {
	padding: .6rem 1rem;
	background-color: var(--light-color-alt);
	border: none;
	font-family: inherit;
	font-size: inherit;
	width: 20rem;
}

.search-form__input>input:focus {
	outline: .125rem dotted var(--accent-color);
	outline-offset: -.125rem;
}

.search-form__input>button {
	padding: .6rem 1.5rem;
}

.search-icon {
	fill: var(--light-color);
}

.btn-main:hover>.search-icon {
	fill: var(--dark-color);
}

.language-select {
	background-color: var(--no-color);
	color: var(--light-color);
	border: 0;
	font-size: inherit;
	font-weight: 600;
}

.desktop-nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
}

.desktop-nav-item {
	padding-inline: 1rem;
	padding-bottom: .25rem;
	color: var(--light-color);
	font-weight: 700;
	font-size: var(--text-m);
	position: relative;
}

.desktop-nav-item:hover {
	text-decoration: none;
}

.desktop-nav-item:hover::before,
.nav-item__active::before {
	content: '';
	position: absolute;
	width: 1.2rem;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	border-bottom: .17rem solid var(--light-color);
}

/* Mobile Navigation */

.mobile-nav {
	height: 100vh;
	width: 100%;
	padding: 2rem;
	position: absolute;
	z-index: 100;
	left: 0;
	top: 0;
	background-color: var(--dark-color);
	flex-direction: column;
}

.menu-hidden {
	display: none;
}

.menu-show {
	display: flex;
}

.mobile-nav__menu>li>* {
	display: inline-block;
	color: var(--light-color);
	font-size: var(--text-l);
	font-weight: 700;
	cursor: pointer;
}

.mobile-nav__menu>li>*:hover {
	text-decoration: underline;
}

.mobile-nav__menu>li:not(:last-of-type) {
	margin-bottom: .5rem;
}

.mobile-item__active {
	text-decoration: underline;
}

.select-day {
	border-left: .25rem solid var(--light-color-alt);
	padding-left: 1rem;
}

.day-link--mobile {
	color: var(--light-color);
}

.close-select {
	height: 0;
	overflow: hidden;
}

.day-link-item--mobile {
	margin-bottom: .5rem;
}