/* Global CSS */

@import url('../fonts/fonts.css');

:root {
	--light-color: rgb(255, 255, 255);
	--dark-color: rgb(42, 50, 82);
	--primary-color: rgb(239, 84, 85);
	--secondary-color: rgb(250, 215, 68);
	--darker-color: rgb(22, 26, 44);
	--primary-darker: rgb(201, 68, 68);
}

/* BREAKPOINTS
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

* {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans';
	color: var(--light-color);
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	background-color: var(--dark-color);
	border: 0.5rem solid var(--light-color);
	text-align: center;
}

h1,
h2,
h3 {
	font-family: 'Ubuntu';
	line-height: 1;
}

h1 {
	font-size: 2.5rem;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	display: inline-block;
	font-style: italic;
	font-size: 2rem;
	margin: 0 auto 2rem auto;
	padding-bottom: 0.5rem;
	border-bottom: 0.25rem solid var(--secondary-color);
}

h3 {
	font-style: italic;
	font-weight: bold;
	font-size: 1.4rem;
	margin-bottom: 0.5rem;
}

a {
	text-decoration: none;
}

hr {
	margin: 2rem auto;
	width: 50%;
	display: block;
	border: 0;
	border-top: 0.125rem solid var(--secondary-color);
}

/* Regular CSS */

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: linear-gradient(180deg, #161a2cb2 0%, var(--dark-color) 100%), url('../images/header-bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 3rem 2rem;
}

@media (min-width: 576px) {
	header {
		padding: 5rem;
	}
}

@media (min-width: 768px) {
	header {
		padding: 8rem;
	}
}

@media (min-width: 992px) {
	header {
		padding: 8rem;
	}
}

@media (min-width: 1200px) {
	header {
		padding: 8rem;
	}
}

section.intro {
	padding-bottom: 3rem;
}

.logo {
	display: block;
	width: 15rem;
	max-width: 100%;
	height: auto;
	margin: auto;
	margin-bottom: 1rem;
}

.menu {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}

.menu--other-page {
	margin-bottom: 0;
}

li.menu__item {
	list-style-type: none;
	margin-bottom: 0.5rem;
}

li.menu__item a {
	font-family: 'Ubuntu';
	font-weight: bold;
	padding: 0.5rem 0.25rem;
	margin: 0.5rem;
}

li.menu__item--active a {
	color: var(--primary-color);
	border-bottom: 0.25rem solid var(--secondary-color);
}

li.menu__item a:hover {
	color: var(--primary-color);
	border-bottom: 0.25rem solid var(--secondary-color);
	transition: all 0.2s ease-in-out;
}

.description {
	margin-bottom: 4rem;
}

.description--intro {
	margin-bottom: 0;
}

@media (min-width: 992px) {
	.description {
		margin: 0 10rem 5rem 10rem;
	}
}

@media (min-width: 1200px) {
	.description {
		display: block;
		width: 50%;
		margin: 0 auto 5rem auto;
	}
}

.icon--down {
	width: 4rem;
}

.icon--down__link {
	display: block;
	margin: auto;
}

main {
	padding: 2rem;
	margin: auto;
}

@media (min-width: 576px) {
	main {
		padding: 2rem 5rem;
	}
}

article {
	margin: 0 auto 4rem auto;
}

.services,
.contact-info {
	display: flex;
	flex-direction: column;
}

.service__card,
.contact-info__card {
	background-color: var(--darker-color);
	padding: 1.5rem;
	margin-bottom: 1rem;
}

.contact-info__card {
	background-color: var(--primary-color);
}

@media (min-width: 768px) {

	.services,
	.contact-info {
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: nowrap;
	}

	.service__card,
	.contact-info__card {
		flex-basis: 33%;
		margin: 1rem;
	}
}

.service__image,
.contact-info__image {
	width: 5rem;
	max-width: 100%;
	margin-bottom: 1rem;
}

video {
	display: block;
	width: 40rem;
	max-width: 100%;
	margin: 5rem auto;
}

@media (min-width: 992px) {
	video {
		margin: 10rem auto;
	}
}

.team {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.team__member {
	margin-bottom: 2rem;
}

.team__image {
	border-radius: 50%;
	width: 15rem;
	max-width: 100%;
	min-width: 8rem;
	margin-bottom: 1rem;
	filter: grayscale(100%);
	transition: filter 0.4s ease-in-out;
}

.team__image:hover {
	filter: grayscale(0%);
	transition: filter 0.4s ease-in-out;
}

@media (min-width: 768px) {
	.team {
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.team__member {
		flex-basis: 33%;
		margin: 1rem;
	}
}

@media (min-width: 992px) {
	.team {
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: nowrap;
	}

	.team__member {
		flex-basis: 33%;
		margin: 1rem;
	}
}

footer {
	background-color: var(--secondary-color);
	padding: 3rem 2rem;
}

@media (min-width: 576px) {
	footer {
		padding: 2rem 5rem;
	}
}

.footer__text {
	color: var(--dark-color);
	font-size: 0.8rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.socials {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1rem;
}

.icon--social {
	display: block;
	margin: 0;
	background-color: var(--primary-color);
	padding: 1rem;
	border-radius: 50%;
}

.icon--social:hover {
	background-color: var(--primary-darker);
}

.icon--social__image {
	width: 1.5rem;
	height: 1.5rem;
	vertical-align: middle;
}

.google-map {
	display: block;
	margin: auto;
	width: 60rem;
	max-width: 100%;
	height: 20rem;
}

.contact-info__link {
	word-wrap: break-word;
}

.contact-info__link:hover {
	color: var(--secondary-color);
	border-bottom: 0.25rem solid var(--secondary-color);
}

/* Portfolio */

.portfolio__item {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: var(--dark-color);
	background-blend-mode: exclusion;
	height: 20rem;
	vertical-align: middle;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.portfolio__item__tag {
	font-weight: bold;
}

@media (min-width: 768px) {
	.portfolio__item {
		height: 30rem;
		margin: 4rem 5rem;
	}
}

@media (min-width: 992px) {
	.portfolio__item {
		width: 60%;
		margin: 5rem auto;
	}
}

@media (min-width: 1400px) {
	.portfolio__item {
		height: 40rem;
	}
}

.portfolio__item--baeck--cammy {
	background-image: url('../images/projects/baeck-cammi.jpg');
}

.portfolio__item--wade--logo {
	background-image: url('../images/projects/wade-logo.png');
}

.portfolio__item--ergo--website {
	background-image: url('../images/projects/ergo-support-website.jpg');
}

.portfolio__item--kolvw--website {
	background-image: url('../images/projects/kolvw-website.jpg');
}

.portfolio__item--sgsnbao--branding {
	background-image: url('../images/projects/sgsnbaonoord.png');
}

.portfolio__item--baeck--logo {
	background-image: url('../images/projects/baeck-logo.png');
}

.portfolio__item--sloep--website {
	background-image: url('../images/projects/sloeprent-website.jpg');
}

/* Custom Multiple Use CSS */

.text--yellow {
	color: var(--secondary-color);
	font-size: 3rem;
}

.box-shadow {
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

.rounded-corners {
	border-radius: 1rem;
}
