/* Global CSS */

:root {
	/* Colors */
	/* #ff2957 - PINK*/
	--clr-pri-100: 347 100% 74%;
	--clr-pri-400: 347 100% 58%;

	/* #55bebe - BLUE*/
	--clr-sec-100: 182 45% 78%;
	--clr-sec-400: 182 45% 54%;

	/* #04212f - DARKER BLUE*/
	--clr-dark: 200 84% 10%;
  /* #2e4756 - ALT DARKER BLUE */
	--clr-dark-alt: 203 30% 26%;
  /* #ffffff - WHITE */
	--clr-white: 0 0% 100%;

	/* Font Families */
	--ff-default: 'Open Sans';
	--ff-display: 'Raleway';

	/* Font Sizes */
	--fs-xs: .6rem;
	--fs-s: .8rem;
	--fs-m: 1rem;
	--fs-l: 1.5rem;
	--fs-xl: 2.5rem;
	--fs-xxl: 3.25rem;

	/* Font Weights */
	--fw-light: 300;
	/* Display font: Raleway */
	--fw-normal: 400;
	/* All fonts */
	--fw-semi: 600;
	/* Display font: Raleway */
	--fw-bold: 700;
	/* Default font: Open Sans */

	/* Spacing */
	--xs-space: .75rem;
	--s-space: 1rem;
	--m-space: 1.5rem;
	--l-space: 2.25rem;
	--xl-space: 4rem;
}

* {
  text-decoration: none;
  box-sizing: border-box;
}

::before, ::after {
  box-sizing: border-box;
}

/* Selection CSS */
::-moz-selection {
	/* Code for Firefox */
	color: hsl(var(--clr-white));
	background: hsl(var(--clr-pri-400));
}

::selection {
	color: hsl(var(--clr-white));
	background: hsl(var(--clr-pri-400));
}

body {
  position: relative;
	font-family: var(--ff-default), sans-serif;
	font-size: clamp(var(--fs-s), 2.5vw, var(--fs-m));
	line-height: 1.1;
	color: hsl(var(--clr-dark));
	/* background: hsl(var(--clr-dark));
	background: linear-gradient(135deg, hsl(var(--clr-dark)) 0%, hsl(var(--clr-dark-alt)) 100%); */
  background-color: hsl(var(--clr-sec-400) / .1);
	background-repeat: no-repeat;
	cursor: default;
}

/* Typography */
h1,
h2,
h3,
h4 {
	font-family: var(--ff-display), sans-serif;
	font-weight: var(--fw-semi);
}

h1 {
	font-size: clamp(var(--fs-l), 5vw, var(--fs-xxl));
}

h2 {
	font-size: clamp(var(--fs-m), 5vw, var(--fs-xl));
}

p {
	margin-bottom: var(--xs-space);
	line-height: 1.2;
}

a {
  color: hsl(var(--clr-dark-alt));
  font-weight: var(--fw-bold);
  transition: all 200ms ease;
}

a:hover {
  color: hsl(var(--clr-sec-400));
}

a.active {
  color: hsl(var(--clr-sec-400));
}

.logo {
  font-family: var(--ff-display), sans-serif;
  font-size: var(--fs-l);
  font-weight: var(--fw-semi);
}

/* Spacing */
.m-bot-0 {
	margin-bottom: var(--xs-space);
}

.m-bot-1 {
	margin-bottom: var(--s-space);
}

.m-bot-2 {
	margin-bottom: var(--m-space);
}

.m-bot-3 {
	margin-bottom: var(--l-space);
}

.m-bot-4 {
	margin-bottom: var(--xl-space);
}

/* Containers */
.flex {
  display: flex;
}

.v-center {
  align-items: center;
}

/* Other */
.transition {
	transition: all .4s ease;
}

.box-shadow-s {
	box-shadow: 0 .4rem 1.25rem 0 hsl(var(--clr-dark));
}

.text-underline {
	box-shadow: inset 0 -1rem 0 hsl(var(--clr-sec-400) / .5);
}

.text-underline:hover {
	box-shadow: inset 0 -1rem 0 hsl(var(--clr-sec-400));
}

.mark-in-text {
	box-shadow: inset 0 -.75rem 0 hsl(var(--clr-sec-400) / .5);
	font-weight: var(--fw-bold);
}

.mark-in-text:hover {
	box-shadow: inset 0 -.75rem 0 hsl(var(--clr-sec-400));
	font-size: var(--fs-l);
}

/* Aside Navigation */
aside {
  display: none;
}

@media (min-width: 64rem) {
  aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: var(--l-space);
    height: 100vh;
    position: fixed;
    top: 0;
    padding: var(--xl-space);
    color: hsl(var(--clr-dark));
    background-color: hsl(var(--clr-white));
    box-shadow: 0 .4rem 1.25rem 0 hsl(var(--clr-dark-alt) / .1);
  }
}

.logo {
  gap: var(--s-space);
}

.logo p {
  margin-bottom: 0;
}

.profile-pic {
  max-width: 4rem;
  border-radius: 50%;
}

nav {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: var(--xl-space);
}

.nav {
  display: flex;
  flex-flow: column wrap;
  gap: var(--s-space);
}

.nav--link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

i {
  width: 3rem;
  text-align: center;
  font-size: var(--fs-l);
  padding: .5rem;
}

/* General containers */
main {
  padding: var(--m-space);
}

@media (min-width: 48rem) {
  main {
    padding: var(--l-space);
  }
}

@media (min-width: 64rem) {
  main {
    padding: var(--xl-space);
    padding-left: 25rem;
  }
}

/* HOMEPAGE */
.home__name {
	color: hsl(var(--clr-sec-400));
  font-weight: var(--fw-bold);
	text-transform: uppercase;
	letter-spacing: .25ch;
}

.home__intro {
	max-width: 50rem;
}

.home__about {
  max-width: 50rem;
	gap: var(--xl-space);
}

/* Other CSS */