/* GLOBAL CSS */

:root {
	/* Colors */
	--primary-color: #58a6ff;
	--secondary-color: #238636;
	--color-light: #8b949e;
	--color-lighter: #c9d1d9;
	--color-lightest: #f0f6fc;
	--color-dark: #161b22;
	--color-darker: #0d1117;
	--color-darkest: #010409;

	/* Font-Sizes */
	--text-xs: .7rem;
	--text-s: .9rem;
	--text-m: 1.1rem;
	--text-l: 1.3rem;
	--text-xl: 1.6rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Segoe', sans-serif;
	font-size: var(--text-s);
	background-color: var(--color-darkest);
	color: var(--color-lightest);
}

img {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

ul {
	list-style-type: none;
}

/* HEADER */

/* NAV */

.top-nav {
	background-color: var(--color-dark);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

@media (min-width: 25rem) {
	.top-nav {
		padding: 1rem 2rem;
	}
}

.logo-img {
	width: 2rem;
}

.nav-numbers {
	font-size: var(--text-l);
	font-weight: bold;
	display: flex;
	gap: 1rem;
	align-items: center;
}

#weather,
#covid {
	display: flex;
	gap: .5rem;
	align-items: center;
}

.weather__icon {
	width: 2rem;
	border-left: solid .125rem var(--color-lightest);
	padding-left: .5rem;
}

/* MAIN */

.main-content {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}

.main-content>section:not(:last-child) {
	border-right: solid .125rem var(--color-dark);;
}

.container {
	padding: 1rem 2rem;
}

.side-container {
	background-color: var(--color-darker);
}