@import url('../fonts/fonts.css');

/* BREAKPOINTS USED
	Small: 16rem
	Medium: 20rem
	Large: 36rem
	Largest: 50rem
*/

/* DON'T FORGET TO OPTIMIZE IMAGES!!! */

/* Global classes */

:root {
	--purple: hsl(325, 96%, 22%);
	--pink: hsl(326, 98%, 36%);
	--light-pink: hsl(329, 26%, 54%);
	--blue: hsl(209, 100%, 42%);
	--dark-blue: hsl(209, 99%, 30%);
	--team--orange: hsl(18, 99%, 41%);
	--gray: hsl(0, 0%, 87%);
	--dark-gray: hsl(0, 0%, 54%);
	--black: hsl(0, 0%, 13%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open-Sans', sans-serif;
}

html {
	scroll-behavior: smooth;
}

.container {
	width: 60rem;
	max-width: 100%;
	padding: 1rem;
}

.container--alt {
	background-color: var(--gray);
	padding: 1rem;
}

li {
	list-style-type: none;
}

img {
	max-width: 100%;
	height: auto;
}

h1,
h2 {
	font-family: 'Otomanopee-One';
}

/* Layout classes */

/* HEADER */

header {
	background-color: white;
}

@media (min-width: 50rem) {
	header {
		position: sticky;
		top: 0;
	}
}

nav {
	width: 60rem;
	max-width: 100%;
	margin: auto;
}

ul.menu {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: center;
}

li.menu__item {
	width: 100%;
	text-align: center;
	order: 1;
}

.menu__item a {
	display: block;
	font-family: 'Otomanopee-One';
	text-decoration: none;
	text-transform: uppercase;
	color: var(--black);
	padding: 1rem 0;
	width: 100%;
}

.menu__item a:hover {
	color: var(--light-pink);
}

.menu__item--active a {
	color: var(--pink);
}

li.menu__logo {
	max-width: 3rem;
	padding: 1rem;
	box-sizing: content-box;
	order: 0;
}

@media (min-width: 22rem) {
	ul.menu {
		flex-direction: row;
		align-items: flex-end;
	}

	li.menu__item {
		margin: 0 0.25rem;
		padding: 0.5rem;
		border-bottom: 0.25rem solid white;
	}

	li.menu__item:hover {
		border-bottom: 0.25rem solid var(--light-pink);
	}

	li.menu__item--1 {
		order: 0;
		text-align: end;
	}

	li.menu__logo {
		order: 1;
	}

	li.menu__item--3 {
		order: 2;
		text-align: start;
	}

	li.menu__item--active {
		border-bottom: 0.25rem solid var(--pink);
	}
}

@media (min-width: 30rem) {
	ul.menu {
		justify-content: space-between;
	}

	li.menu__logo {
		order: 0;
	}

	li.menu__item {
		display: block;
		width: auto;
		text-align: center;
		margin: 0 1rem;
		padding: 0.5rem;
	}

	li.menu__item--1 {
		order: 1;
		margin-left: auto;
	}

	li.menu__item--3 {
		order: 2;
	}
}

img.logo {
	display: block;
	max-width: 100%;
}

img.logo:hover {
	opacity: 0.5;
}

/* MAIN */

.support-card {
	background-color: white;
	border-radius: 1rem;
	margin-bottom: 1rem;
	padding: 1rem;
}

/* FOOTER */

footer {
	background-color: var(--black);
	text-align: center;
	padding: 4rem 2rem;
}

img.footer__logo {
	width: 30rem;
	max-width: 100%;
}

.animated-footer {
	position: relative;
}

/* General small classes */

.s-transition {
	transition: all 0.4s ease;
}

.s-box-shadow {
	box-shadow: 0px 5px 10px var(--gray);
}

.s-full-width {
	max-width: 100%;
}

.text--purple {
	color: var(--purple);
}



/* This works on before the image shrinks */
marquee {
	position: absolute;
	background-color: var(--pink);
	color: white;
	font-size: 1.2rem;
	text-transform: uppercase;
	max-height: 100%;
	left: 50%;
	width: 50vw;
	height: 1.6rem;
	transform: rotateZ(51deg) translateY(8rem);
}
