@import url('../fonts/fonts.css');

/* BREAKPOINTS USED
	Small: 22rem
	Medium: 30rem
	Large: 50rem
*/

/* DON'T FORGET TO OPTIMIZE IMAGES!!! */

/* Global classes */

:root {
	--purple: hsl(325, 96%, 22%);
	--pink: hsl(326, 98%, 36%);
	--light-pink: hsl(329, 26%, 54%);
	--blue: hsl(209, 100%, 42%);
	--dark-blue: hsl(209, 99%, 30%);
	--team--orange: hsl(18, 99%, 41%);
	--gray: hsl(0, 0%, 87%);
	--dark-gray: hsl(0, 0%, 54%);
	--black: hsl(0, 0%, 13%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Open-Sans', sans-serif;
}

.container {
	width: 50rem;
	max-width: 100%;
	padding: 4rem 1rem;
	margin: auto;
}

.container--alt {
	background-color: var(--gray);
}

li {
	list-style-type: none;
}

img {
	max-width: 100%;
	height: auto;
}

h1,
h2 {
	font-family: 'Otomanopee-One';
	margin-bottom: 1rem;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	text-decoration: underline;
	margin-bottom: 1rem;
	line-height: 1;
}

p {
	margin-bottom: 1rem;
}

.btn--main {
	display: inline-block;
	position: relative;
	background-color: var(--blue);
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	color: white;
	font-weight: bold;
	width: 6rem;
}

.btn--main:hover {
	background-color: var(--dark-blue);
	width: 8rem;
	border-radius: 0.5rem 1rem 1rem 0.5rem;
}

.btn__arrow {
	display: none;
	position: absolute;
	top: 25%;
	width: 1rem;
}

.btn--main:hover > .btn__arrow {
	margin-left: 1rem;
	display: inline-block;
}

/* Layout classes */

/* HEADER */

header {
	background-color: white;
}

@media (min-width: 50rem) {
	header {
		position: sticky;
		top: 0;
	}
}

nav {
	width: 50rem;
	max-width: 100%;
	margin: auto;
}

ul.menu {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: center;
}

li.menu__item {
	width: 100%;
	text-align: center;
	order: 1;
}

.menu__item a {
	display: block;
	font-family: 'Otomanopee-One';
	text-decoration: none;
	text-transform: uppercase;
	color: var(--black);
	padding: 1rem 0;
	width: 100%;
}

.menu__item a:hover {
	color: var(--light-pink);
}

.menu__item--active a {
	color: var(--pink);
}

li.menu__logo {
	max-width: 3rem;
	padding: 1rem;
	box-sizing: content-box;
	order: 0;
}

@media (min-width: 22rem) {
	ul.menu {
		flex-direction: row;
		align-items: flex-end;
	}

	li.menu__item {
		margin: 0 0.25rem;
		padding: 0 0.5rem;
		border-bottom: 0.25rem solid white;
	}

	li.menu__item:hover {
		border-bottom: 0.25rem solid var(--light-pink);
	}

	li.menu__item--1 {
		order: 0;
		text-align: end;
	}

	li.menu__logo {
		order: 1;
	}

	li.menu__item--3 {
		order: 2;
		text-align: start;
	}

	li.menu__item--active {
		border-bottom: 0.25rem solid var(--pink);
	}
}

@media (min-width: 30rem) {
	ul.menu {
		justify-content: space-between;
	}

	li.menu__logo {
		order: 0;
	}

	li.menu__item {
		display: block;
		width: auto;
		text-align: center;
		margin: 0 1rem;
		padding: 0.5rem;
	}

	li.menu__item--1 {
		order: 1;
		margin-left: auto;
	}

	li.menu__item--3 {
		order: 2;
	}
}

img.logo {
	display: block;
	max-width: 100%;
}

img.logo:hover {
	opacity: 0.5;
}

/* MAIN > HOME */

.intro-block {
	display: flex;
	flex-direction: column;
}

@media (min-width: 30rem) {
	.intro-block {
		flex-direction: row;
		gap: 2rem;
	}

	.intro__img, .intro__content {
		width: 50%;
	}
}

@media (min-width: 50rem) {
	.intro-block {
		gap: 4rem;
	}
}

.support-cards {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.support-card {
	background-color: white;
	border-radius: 1rem;
	box-shadow: 0 5px 10px var(--dark-gray);
}

@media (min-width: 22rem) {
	.support-cards {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.support-card {
		width: 40%;
		flex-grow: 1;
	}
}

@media (min-width: 50rem) {
	.support-card {
		width: 30%;
	}
}

img.card__img {
	border-radius: 1rem 1rem 0 0;
}

.card__content {
	padding: 1rem;
}

.card__title {
	margin-bottom: 1rem;
}

img.card__title__img {
	width: 1.8rem;
	margin-right: 1rem;
	float: left;
}

a.link--more {
	color: var(--black);
}

.card__progbar {
	background-color: var(--gray);
	border-radius: 1rem;
	height: 0.4rem;
	margin: 0.25rem 0 1rem 0;
}

div.progbar__sep {
	background-color: var(--blue);
	height: 0.4rem;
	border-radius: 1rem;
}

div.prog--1 {
	width: 20%;
}

div.prog--2 {
	width: 40%;
}

div.prog--3 {
	width: 90%;
}

/* MAIN > ABOUT */

.bg-image--scroll {
	height: 60vh;
	background-image: url('../images/meeting-photo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.team {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
}

.team__member {
	text-align: center;
	width: 12rem;
}

@media (min-width: 30rem) {
	.team {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.team__member {
		width: 30%;
	}
}

@media (min-width: 42rem) {
	.team {
		justify-content: flex-start;
	}

	.team__member {
		width: 45%;
		display: flex;
		gap: 1rem;
		align-items: center;
	}

	.team__text {
		text-align: left;
	}
}

img.team__img {
	border-radius: 50%;
	width: 7rem;
	height: 7rem;
	object-fit: cover;
	object-position: center;
	border: 0.25rem solid white;
	outline: 0.25rem solid var(--team--orange);
	margin-bottom: 0.5rem;
}

p.team__text--name {
	font-weight: bold;
	margin: 0;
}

p.team__text--function {
	font-size: 0.8rem;
}

/* FOOTER */

footer {
	background-color: var(--black);
	text-align: center;
	padding: 4rem 2rem;
}

img.footer__logo {
	width: 30rem;
	max-width: 100%;
}

.animated-footer {
	position: relative;
}

/* General small classes */

.s-transition {
	transition: all 0.4s ease;
}

.s-box-shadow {
	box-shadow: 0px 5px 10px var(--gray);
}

.s-full-width {
	max-width: 100%;
}

.text--purple {
	font-family: inherit;
	color: var(--purple);
}

.text--gray {
	font-family: inherit;
	color: var(--dark-gray);
}

.text--underline {
	font-family: inherit;
	text-decoration: underline;
}

/* This works on before the image shrinks */
marquee {
	position: absolute;
	background-color: var(--pink);
	color: white;
	font-size: 1.2rem;
	text-transform: uppercase;
	max-height: 100%;
	left: 50%;
	width: 50vw;
	height: 1.6rem;
	transform: rotateZ(51deg) translateY(8rem);
}
