/* Global CSS */

:root {
  /* Colors */
  --clr-pri-100: 347 100% 74%;
  --clr-pri-400: 347 100% 58%; /* #ff2957 */

  --clr-sec-100: 182 45% 78%;
  --clr-sec-400: 182 45% 54%; /* #55bebe */

  --clr-dark: #04212f;
  --clr-dark-alt: #2e4756;

  --clr-white: 0 0% 100%;

  /* Font Families */
  --ff-default: 'Open Sans';
  --ff-display: 'Raleway';

  /* Font Sizes */
  --fs-xs: .6rem;
  --fs-s: .8rem;
  --fs-m: 1rem;
  --fs-l: 1.8rem;
  --fs-xl: 2.5rem;
  --fs-xxl: 3.25rem;

  /* Font Weights */
  --fw-light: 300; /* Display font: Raleway */
  --fw-normal: 400; /* All fonts */
  --fw-semi: 600; /* Display font: Raleway */
  --fw-bold: 700; /* Default font: Open Sans */

  /* Spacing */
  --xs-space: .75rem;
  --s-space: 1rem;
  --m-space: 1.5rem;
  --l-space: 2.25rem;
  --xl-space: 4rem;
}

::-moz-selection { /* Code for Firefox */
  color: hsl(var(--clr-white));
  background: hsl(var(--clr-pri-400) / .5);
}

::selection {
  color: hsl(var(--clr-white));
  background: hsl(var(--clr-pri-400) / .5);
}

body {
  font-family: var(--ff-default), sans-serif;
  /* font-size: var(--fs-m); */
  font-size: clamp(var(--fs-s), 2.5vw, var(--fs-m));;
  line-height: 1.1;
  color: hsl(var(--clr-white));
  background: var(--clr-dark);
  background: linear-gradient(135deg, var(--clr-dark) 0%, var(--clr-dark-alt) 100%);
  background-repeat: no-repeat;
  cursor: default;
}

/* Typography */
h1,h2,h3,h4 {
  font-family: var(--ff-display), sans-serif;
  font-weight: var(--fw-semi);
}

h1 {
  font-size: clamp(var(--fs-l), 5vw, var(--fs-xxl));
}

h2 {
  font-size: clamp(var(--fs-m), 5vw, var(--fs-xl));
  /* color: hsl(var(--clr-sec-400)); */
  border-left: .125rem solid hsl(var(--clr-pri-400));
  padding-left: var(--m-space);
  margin-bottom: var(--l-space);
}

p {
  margin-bottom: var(--xs-space);
  line-height: 1.2;
}

.bold {
  font-weight: 700;
}

.text-white {
  color: hsl(var(--clr-white));
}

/* Spacing */
.m-bot-0 {
  margin-bottom: var(--xs-space);
}

.m-bot-1 {
  margin-bottom: var(--s-space);
}

.m-bot-2 {
  margin-bottom: var(--m-space);
}

.m-bot-3 {
  margin-bottom: var(--l-space);
}

.m-bot-4 {
  margin-bottom: var(--xl-space);
}

/* Containers */
.container-wrapper {
  height: auto;
  width: 100%;
}

.container {
  padding: var(--l-space);
  max-width: 75rem;
  margin-inline: auto;
}

@media (min-width: 40rem) {
  .container {
    padding: var(--xl-space);
  }
}

.full-height {
  height: 100vh;
}

/* Display */
.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
}

/* Other */
.transition {
  transition: all .4s ease;
}

.icon-s {
  width: 1rem;
  height: auto;
}

.text-underline {
  box-shadow: inset 0 -1rem 0 hsl(var(--clr-pri-400) / .5);
}

.text-underline:hover {
  box-shadow: inset 0 -1rem 0 hsl(var(--clr-pri-400));
}

.box-shadow-s {
  box-shadow: 0 .4rem 1.25rem 0 var(--clr-dark);
}

/* Navigation & Footer */
.nav-container {
  padding: var(--l-space);
  margin-inline: auto;
}

@media (min-width: 64rem) {
  .nav-container {
    padding: var(--l-space);
    margin-inline: auto;
    margin-right: var(--l-space);
  }
}

nav {
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: var(--xs-space);
}

.logo__img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

.logo__text {
  font-family: var(--ff-display);
  font-weight: var(--fw-semi);
  color: var(--clr-sec-400);
}

.menu {
  display: flex;
  justify-content: end;
  gap: var(--m-space);
}

.menu-desktop {
  display: none;
}

@media (min-width: 64rem) {
  .menu-desktop {
    display: block;
  }

  .menu-mobile {
    display: none;
  }
}

.menu__burger {
  width: calc(3rem - var(--xs-space)); /* xs > .75 / s > 1 */
  height: calc(3rem - var(--xs-space));
  padding: calc(var(--xs-space) / 1.5);
  background-color: hsl(var(--clr-sec-400) / .5);
  border-radius: 50%;
  transition: all .4s ease;
  cursor: pointer;
}

.menu__burger:hover {
  background-color: hsl(var(--clr-sec-400));
}

.menu__item a {
  font-family: var(--ff-display);
  font-weight: var(--fw-semi);
  color: hsl(var(--clr-sec-400));
  text-decoration: none;
  box-shadow: inset 0 -.5rem 0 hsl(var(--clr-pri-400) / .25);
  transition: all .2s ease;
}

.menu__item a:hover {
  color: hsl(var(--clr-sec-100));
  box-shadow: inset 0 -.5rem 0 hsl(var(--clr-pri-400) / .5);
}

/* PER PAGE CSS */

/* Homepage */
.intro__name {
  color: hsl(var(--clr-pri-400));
  text-transform: uppercase;
  letter-spacing: .25ch;
}

.intro__text {
  max-width: 50rem;
}

.about {
  gap: var(--xl-space);
}

.about__img {
  max-width: 15rem;
}

.about__text {
  max-width: 50rem;
}