@import url('../fonts/fonts.css');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Open Sans', sans-serif;
	position: relative;
}

body {
	overflow: auto;
}

.container {
	max-width: 100%;
	margin: auto;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

img {
	max-width: 100%;
	height: auto;
}

/* HEADER */

header {
	background: url('../images/pattern-2021-2.svg') no-repeat;
	background-size: cover;
	padding: 2rem;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

img.nav__logo {
	width: 10rem;
}

.nav__full {
	background-image: linear-gradient(270deg, hsl(4, 100%, 81%) 5.19%, hsl(253, 95%, 61%) 100%);
	padding: 1rem;
	cursor: pointer;
	position: relative;
}

.nav__menu {
	flex-direction: column;
	display: none;
	position: absolute;
	z-index: 20;
	top: 4rem;
	right: 0;
	width: 30rem;
	max-width: 300%;
	background-image: linear-gradient(270deg, hsl(4, 100%, 81%) 5.19%, hsl(253, 95%, 61%) 100%);
	padding: 0.3rem;
}

@media (max-width: 60rem) {
	.nav__full:hover .nav__menu {
		display: block;
	}
}

@media (min-width: 60rem) {
	.nav__menu {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		position: static;
		width: 100%;
	}

	.nav__full {
		padding: 0;
		cursor: auto;
	}
}

.nav__item a {
	display: block;
	font-family: 'Open Sans Condensed';
	font-weight: bold;
	font-size: 1.3rem;
	text-transform: uppercase;
	color: white;
	transition: all 0.1s linear;
	padding: 0.3rem 0.5rem;
	text-align: left;
}

.nav__item a:hover {
	color: black;
}

.nav__item--external {
	background-color: black;
	color: white;
}

.nav__item--external a:hover {
	background-color: hsl(0, 0%, 10%);
	color: white;
}

img.nav__icon {
	display: block;
	width: 2rem;
	cursor: pointer;
}

@media (min-width: 60rem) {
	img.nav__icon {
		display: none;
	}
}

/* MAIN */

/* Line-Up */

.overview__links {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	color: black;
	font-family: 'Open Sans Condensed';
	font-weight: bold;
	text-transform: uppercase;
	padding: 2rem 2rem 0 2rem;
}

.link--overview {
	color: hsl(240, 100%, 30%);
}

.link--overview:hover {
	text-decoration: underline;
}

.link--overview:focus {
	color: hsl(0, 100%, 30%);
}

.festival__lineup {
	padding: 1rem 2rem 2rem 2rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.lineup__info {
	flex: 1 1 auto;
	position: relative;
	overflow: hidden;
}

.lineup__info:hover {
	cursor: pointer;
}

@media (min-width: 40rem) {
	.lineup__info {
		flex-basis: 45%;
	}
}

@media (min-width: 60rem) {
	.lineup__info {
		flex-basis: 30%;
	}
}

.lineup__info:hover p.lineup__text--artist {
	text-decoration: underline;
}

img.lineup__img {
	display: block;
	transition: all 0.2s linear;
	object-fit: cover;
}

.lineup__info:hover img.lineup__img {
	transform: scale(1.03);
}

.lineup__text {
	position: absolute;
	left: 1rem;
	bottom: 1rem;
}

.lineup__text--artist {
	display: block;
	width: fit-content;
	padding: 0 0.5rem;
	background-image: linear-gradient(270deg, cyan 0%, #643cfa 50%, #ff690a 100%);
	color: white;
	font-family: 'Open Sans Condensed';
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.5rem;
}

.lineup__text--day {
	display: inline-block;
	padding: 0.5rem;
	background-color: hsl(240, 100%, 30%);
	color: white;
	font-family: 'Open Sans Condensed';
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1rem;
}

.lineup__text--place {
	display: inline-block;
	padding: 0.5rem;
	background-color: white;
	color: black;
	font-family: 'Open Sans Condensed';
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1rem;
}

.btn--close {
	width: 10%;
	display: block;
	position: absolute;
	top: 2rem;
	cursor: pointer;
	background-color: red;
	padding: 0.5rem;
	transition: all 0.2s linear;
}

@media (min-width: 40rem) {
	.btn--close {
		width: 4rem;
		left: 20%;
	}
}

@media (min-width: 75rem) {
	.btn--close {
		width: 4rem;
		left: 42%;
	}
}

.btn--close:hover {
	background-color: hsl(240, 100%, 30%);
}

/* Details */

.concert__details {
	width: 100%;
	height: 100%;
	background-color: hsla(0, 0%, 0%, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	overflow: scroll;
	overflow-x: hidden;
}

img.details__img {
	display: block;
	transition: all 0.2s linear;
	object-fit: cover;
	width: 90%;
	margin-left: auto;
	position: relative;
}

.details__text {
	padding: 2rem;
	background-color: white;
	width: 90%;
	margin-left: auto;
}

@media (min-width: 40rem) {
	img.details__img {
		width: 70%;
	}

	.details__text {
		width: 70%;
	}
}

@media (min-width: 75rem) {
	img.details__img {
		width: 50%;
	}

	.details__text {
		width: 50%;
	}
}

.details__artist {
	display: block;
	left: 1rem;
	bottom: 0;
	margin-bottom: 1rem;
}

.details__artist--artist {
	display: block;
	padding: 0.5rem;
	width: 100%;
	background-image: linear-gradient(270deg, cyan 0%, #643cfa 50%, #ff690a 100%);
	color: white;
	font-family: 'Open Sans Condensed';
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.5rem;
}

.details__artist--day {
	display: inline-block;
	padding: 0.5rem;
	background-color: hsl(240, 100%, 30%);
	color: white;
	font-family: 'Open Sans Condensed';
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1rem;
}

.details__artist--place {
	display: inline-block;
	padding: 0.5rem;
	background-color: white;
	color: black;
	font-family: 'Open Sans Condensed';
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1rem;
}

.details__artist--synopsis {
	margin-bottom: 1rem;
}

iframe {
	width: 50rem !important;
	max-width: 100% !important;
	width: auto !important;
	height: auto !important;
}

/* Countdown Timer */

.festival__countdown {
	background-color: hsl(0, 0%, 10%);
	color: white;
	font-family: 'Open Sans Condensed';
	font-size: 3rem;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding: 2rem;
}

/* FOOTER */

footer {
	background-color: hsl(240, 100%, 30%);
	padding: 4rem 2rem;
}

.soc__menu {
	display: flex;
	justify-content: center;
	gap: 1rem;
	flex-wrap: wrap;
}

.social__icon {
	display: block;
	width: 1rem;
}

.soc__item a {
	display: block;
	color: white;
	background-color: black;
	border-radius: 2rem;
	padding: 1rem;
}

.soc__item a:hover {
	background-color: hsl(0, 0%, 10%);
	color: white;
}