/* Edits to header on regular pages */

@media (min-width: 64rem) {
	.header-container {
		height: 70vh;
	}
}

.hashtag {
	display: flex;
	flex-flow: column;
	background-color: var(--light-color);
	padding: 1.5rem;
	height: 100%;
	margin: auto;
	gap: 1rem;
}

svg.hashtag__title--svg {
	width: 12rem;
}

@media (min-width: 64rem) {
	.day-nav {
		position: static;
		bottom: 20%;
	}

	.hashtag {
		background-color: var(--no-color);
		padding: 0;
		height: auto;
		margin-bottom: 13rem;
		margin-right: 2rem;
		align-items: flex-end;
		position: absolute;
		bottom: 20%;
		right: 0;
	}

	.hashtag__hashtag {
		transform: none;
	}

	svg.hashtag__title--svg {
		width: 20rem;
	}

	.all-days {
		position: static;
	}

	.all-days__navigation {
		flex-wrap: nowrap;
		width: 100%;
	}

	.day-link-item {
		background-color: var(--dark-color);
		height: 5rem;
	}

	.day-link-item__day,
	.day-link-item__date {
		color: var(--light-color);
	}

	.day-link:hover {
		background-color: var(--light-color);
	}

	.day-link:hover>.day-link-item__day,
	.day-link:hover>.day-link-item__date {
		color: var(--dark-color);
	}
}

@media (min-width: 80rem) {
	.hashtag {
		margin-right: 5rem;
	}

	svg.hashtag__title--svg {
		width: 26rem;
	}
}

/* Edits on INFO page */

h1 {
	line-height: 1.4;
	font-size: var(--text-xxl);
	font-weight: 900;
	margin-bottom: 1rem;
}

@media (min-width: 48rem) {
	h1 {
		font-size: calc(var(--text-xxl) * 1.2);
	}
}

@media (min-width: 80rem) {
	h1 {
		font-size: calc(var(--text-xxl) * 1.5);
	}
}

h1.logo-header {
	line-height: 0;
	margin-bottom: 0;
}

/* List items */

.listed-items li:not(:last-child) {
	margin-bottom: 1rem;
}

.listed-items>li>div {
	width: 100%;
	padding: 1rem 1.5rem;
	background-color: var(--dark-color);
	color: var(--light-color);
	font-size: var(--text-s);
}

.listed-items:hover>li>div {
	text-decoration: none;
	cursor: pointer;
}

.listed-items__date {
	font-weight: 900;
	margin-bottom: .25rem;
}

.listed-items__title {
	font-size: var(--text-m);
	margin-bottom: .25rem;
	line-height: 1.4;
}

@media (min-width: 64rem) {
	.listed-items li>div {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		line-height: 1;
	}

	.listed-items__date {
		margin-bottom: 0;
	}

	.listed-items__title {
		margin-bottom: 0;
		width: 80%;
	}
}

.listed-items__location {
	font-weight: 400;
}