@font-face {
    font-family: 'Segoe';
    src: url('SegoeUI-Bold.woff2') format('woff2'),
        url('SegoeUI-Bold.woff') format('woff');
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe';
    src: url('SegoeUI.woff2') format('woff2'),
        url('SegoeUI.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

