/* Global CSS */
html {
	font-size: 100%;
}

:root {
	/* Colors */
	/* #ff2957 - PINK*/
	--clr-pri-100: 347 100% 74%;
	--clr-pri-400: 347 100% 58%;

	/* #55bebe - BLUE*/
  --clr-sec-100: 182 45% 85%;
	--clr-sec-200: 182 45% 78%;
	--clr-sec-400: 182 45% 54%;
	--clr-sec-500: 182 45% 45%;

	/* #04212f - DARKER BLUE*/
	--clr-dark: 200 84% 10%;
	/* #2e4756 - ALT DARKER BLUE */
	--clr-dark-alt: 203 30% 26%;
	/* #ffffff - WHITE */
	--clr-white: 0 0% 100%;

	/* Font Families */
	--ff-default: 'Open Sans';
	--ff-display: 'Raleway';

	/* Font Sizes */
	--fs-xs: clamp(.6rem, .52rem + .31vw, .9rem);
	--fs-s: clamp(.8rem, .75rem + .21vw, 1rem);
	--fs-m: clamp(1rem, .89rem + .42vw, 1.4rem);
	--fs-l: clamp(1.3rem, 1.22rem + .32vw, 1.6rem);
	--fs-xl: clamp(1.8rem, 1.62rem + .74vw, 2.5rem);
	--fs-xxl: clamp(2.6rem, 2.43rem + .68vw, 3.25rem);

	/* Font Weights */
	--fw-light: 300;
	/* Display font: Raleway */
	--fw-normal: 400;
	/* All fonts */
	--fw-semi: 600;
	/* Display font: Raleway */
	--fw-bold: 700;
	/* Default font: Open Sans */

	/* Spacing */
	--xs-space: clamp(.25rem, 1vmin, .625rem);
	--s-space: clamp(.5rem, 2vmin, 1.25rem);
	--m-space: clamp(.75rem, 3.5vmin, 1.875rem);
	--l-space: clamp(1.25rem, 5vmin, 3.125rem);
	--xl-space: clamp(2rem, 7vmin, 5rem);
	--xxl-space: clamp(3.25rem, 12vmin, 8.125rem);
}

* {
	text-decoration: none;
	box-sizing: border-box;
}

::before,
::after {
	box-sizing: border-box;
}

/* Selection CSS */
::-moz-selection {
	color: hsl(var(--clr-white));
	background: hsl(var(--clr-pri-400));
}

::selection {
	color: hsl(var(--clr-white));
	background: hsl(var(--clr-pri-400));
}

body {
	position: relative;
	font-family: var(--ff-default), sans-serif;
	font-size: 1rem;
	font-size: var(--fs-m);
	line-height: 1.1;
	color: hsl(var(--clr-dark));
	background: hsl(var(--clr-sec-200));
	background: linear-gradient(315deg, hsl(var(--clr-sec-200)) 0%, hsl(var(--clr-white)) 100%);
	cursor: default;
}

.body-dark {
	--clr-sec-100: 347 100% 74%;
	--clr-sec-400: 347 100% 58%;

	--clr-pri-100: 182 45% 78%;
	--clr-pri-400: 182 45% 54%;

	--clr-white: 200 84% 10%;
	--clr-dark: 0 0% 100%;
	--clr-dark-alt: 182 45% 78%;
}

/* Typography */
h1,
h2,
h3,
h4 {
	font-family: var(--ff-display), sans-serif;
	font-weight: var(--fw-semi);
}

h1 {
	font-size: clamp(var(--fs-l), 5vw, var(--fs-xxl));
}

h2 {
	font-size: clamp(var(--fs-m), 5vw, var(--fs-xl));
}

p {
	line-height: 1.2;
}

a {
	color: hsl(var(--clr-dark-alt));
	font-weight: var(--fw-bold);
	transition: all 200ms ease;
}

a:hover {
	color: hsl(var(--clr-sec-400));
}

a.active {
	color: hsl(var(--clr-sec-400));
}

/* Spacing */
.m-all-xs {
	margin: var(--xs-space);
}

.m-all-s {
	margin: var(--s-space);
}

.m-all-m {
	margin: var(--m-space);
}

.m-all-l {
	margin: var(--l-space);
}

.m-all-xl {
	margin: var(--xl-space);
}

.m-bot-xs {
	margin-bottom: var(--xs-space);
}

.m-bot-s {
	margin-bottom: var(--s-space);
}

.m-bot-m {
	margin-bottom: var(--m-space);
}

.m-bot-l {
	margin-bottom: var(--l-space);
}

.m-bot-xl {
	margin-bottom: var(--xl-space);
}

/* Containers */
.container {
	display: flex;
	padding: var(--xl-space);
  width: 100%;
  transition: all 400ms ease;
}

@media (min-width: 80rem) {
  .container {
    padding: var(--xxl-space);
  }
}

.full-width {
	width: 100%;
}

/* Buttons */
button {
	cursor: pointer;
	font-family: var(--ff-display);
	font-weight: var(--fw-semi);
	font-size: var(--fs-m);
	padding: var(--s-space) var(--m-space);
	border-radius: .5rem;
	transition: all 400ms ease;
}

.btn-pri {
	color: hsl(var(--clr-dark));
	background-color: hsl(var(--clr-sec-400) / .5);
	border: .2rem solid hsl(var(--clr-sec-400) / .5);
	box-shadow: .4rem .4rem 0 0 hsl(var(--clr-sec-400) / .75);
}

.btn-pri:hover {
	background-color: hsl(var(--clr-sec-400));
}

.btn-sec {
	color: hsl(var(--clr-dark));
	background-color: hsl(var(--clr-white) / .5);
	border: .2rem solid hsl(var(--clr-sec-400) / .5);
	box-shadow: .4rem .4rem 0 0 hsl(var(--clr-sec-400) / .5);
}

.btn-sec:hover {
	background-color: hsl(var(--clr-sec-400) / .1);
}

/* Other CSS */
.transition {
	transition: all .4s ease;
}

.box-shadow-s {
	box-shadow: 1rem 1rem 0 0 hsl(var(--clr-sec-400) / .5);
}

.rounded {
	border-radius: 1rem;
}

.text-underline {
	box-shadow: inset 0 -1rem 0 hsl(var(--clr-sec-400) / .5);
}

.text-underline:hover {
	box-shadow: inset 0 -1rem 0 hsl(var(--clr-sec-400));
}

.mark-in-text {
	box-shadow: inset 0 -.75rem 0 hsl(var(--clr-sec-400) / .5);
	font-weight: var(--fw-bold);
	transition: all 400ms ease;
}

.mark-in-text:hover {
	box-shadow: inset 0 -.75rem 0 hsl(var(--clr-sec-400));
}