/* Navigation */
header {
	position: fixed;
}

.top-icons {
  display: flex;
  gap: var(--m-space);
}

.icon {
	width: 3rem;
	height: 3rem;
	transition: all .4s ease;
	cursor: pointer;
}

.icon:hover {
  /* box-shadow: .4rem .4rem 0 0 hsl(var(--clr-sec-400) / .75); */
  filter: drop-shadow(.4rem .4rem 0 hsl(var(--clr-sec-400) / .75));
}

.off-canvas {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 999;
	background-color: hsl(var(--clr-sec-100) / .75);
	backdrop-filter: blur(1rem);
	overflow: hidden;
	transition: all 400ms ease;
}

.nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--m-space);
}

a.nav--link {
  font-family: var(--ff-display);
	font-size: var(--fs-xl);
  font-weight: var(--fw-semi);
  text-transform: uppercase;
}

@media (min-width: 64rem) {
  a.nav--link {
    font-size: var(--fs-l);
  }
}

/* HOMEPAGE */
.home {
	min-height: 100vh;
	padding-top: calc(var(--xl-space) * 4);
	background-image: url(../media/images/Steven-Back-LEFT.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: contain;
	transition: all 400ms ease;
}

.home__btns {
	display: flex;
	gap: var(--m-space);
}