/* Navigation */
header {
  width: 100vw;
	padding: var(--xl-space);
	position: fixed;
  background-color: hsl(var(--clr-white) / .1);
	backdrop-filter: blur(.5rem);
  z-index: 900;
  transition: all 400ms ease;
}

@media (min-width: 80rem) {
  header {
    padding-block: var(--xl-space);
    padding-inline: var(--xxl-space);
  }
}

.top-icons {
	display: flex;
	gap: var(--m-space);
}

.icon {
	width: 3rem;
	height: 3rem;
	transition: all .4s ease;
	cursor: pointer;
}

.icon-s {
	width: 1.3rem;
}

.icon:hover {
	filter: drop-shadow(.4rem .4rem 0 hsl(var(--clr-sec-400) / .75));
}

.off-canvas {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 999;
	background-color: hsl(var(--clr-sec-100) / .75);
	backdrop-filter: blur(1rem);
	overflow: hidden;
	transition: all 400ms ease;
}

.nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--m-space);
}

a.nav--link {
	font-family: var(--ff-display);
	font-size: var(--fs-xl);
	font-weight: var(--fw-semi);
	text-transform: uppercase;
}

a.nav--link:hover {
  /* color: hsl(var(--clr-sec-400)); */
	filter: drop-shadow(.3rem .3rem 0 hsl(var(--clr-sec-400) / .5));
}

@media (min-width: 64rem) {
	a.nav--link {
		font-size: var(--fs-l);
	}
}

/* All content pages */
.content-box {
	min-height: 100vh;
	padding-top: calc(var(--xl-space) * 4);
	transition: all 400ms ease;
}

/* HOMEPAGE */
.home {
	background-image: url(../media/images/Steven-Back-LEFT.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: contain;
}

.home__btns {
  max-width: 50rem;
	display: flex;
  flex-flow: row wrap;
	gap: var(--m-space);
}

/* SERVICES */
.services-overview {
	display: flex;
	flex-direction: column;
	gap: var(--m-space);
}

@media (min-width: 48rem) {
	.services-overview {
		flex-flow: row wrap;
	}
}

.service__block {
	flex: 0 0 40%;
	max-width: 30rem;
	padding: var(--m-space);
	background-color: hsl(var(--clr-white));
	border: .2rem solid hsl(var(--clr-sec-400) / .5);
	box-shadow: .5rem .5rem 0 0 hsl(var(--clr-sec-400) / .5);
	transition: all 400ms ease;
}

.service__block:hover {
	box-shadow: none;
	transform: translate(.5rem, .5rem);
}

@media (min-width: 48rem) {
	.service__block {
		flex: 1 0 40%;
	}
}

@media (min-width: 80rem) {
	.service__block {
		flex: 0 0 30%;
	}
}

.service__icon {
	width: 4rem;
	height: 4rem;
}

@media (min-width: 80rem) {
	.service__icon {
		width: 5rem;
		height: 5rem;
	}
}

.services__list li {
  position: relative;
  margin-left: var(--l-space);
}

.services__list li::before {
  content: '✔️';
  position: absolute;
  margin-left: calc(var(--l-space) * -1);
}

/* CONTACT */
.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
}

.contact-form label {
  display: none;
}

.contact-form input,
.contact-form textarea {
  font-family: inherit;
  font-size: inherit;
  padding: var(--xs-space);
  margin-bottom: var(--m-space);
	border: .2rem solid hsl(var(--clr-sec-400) / .5);
  border-radius: .5rem;
	box-shadow: .4rem .4rem 0 0 hsl(var(--clr-sec-400) / .5);
	transition: all .4s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
	border: .2rem solid hsl(var(--clr-sec-400) / .5);
	box-shadow: none;
  transform: translate(.4rem, .4rem);
}