/* Navigation */
header {
  position: fixed;
}

.menu__burger {
	width: 3rem;
	height: 3rem;
	padding: calc(var(--xs-space) / 1.5);
	background-color: hsl(var(--clr-sec-400) / .5);
	border-radius: 50%;
	transition: all .4s ease;
	cursor: pointer;
}

.menu__burger:hover {
	background-color: hsl(var(--clr-sec-400));
}

.off-canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  background-color: hsl(var(--clr-sec-100) / .75);
  backdrop-filter: blur(1rem);
  overflow: hidden;
  transition: all 400ms ease;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--m-space);
}

a.nav--link {
  font-size: var(--fs-xl);
}

/* HOMEPAGE */
.home {
	min-height: 100vh;
	width: 100%;
	padding-top: calc(var(--xl-space) * 4);
	background-image: url(../media/images/Steven-Back-LEFT.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: contain;
  transition: all 400ms ease;
}

.home__btns {
  display: flex;
  gap: var(--m-space);
}