/* HOMEPAGE */
.home {
	background-image: url(../media/images/Steven-Back-LEFT.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: contain;
}

/* ABOUT */
@media (min-width: 90rem) {
	.about {
		max-width: 100rem;
	}
}

/* SERVICES */
.services-overview {
	display: flex;
	flex-direction: column;
	gap: var(--xxl-space);
}

@media (min-width: 48rem) {
	.services-overview {
		flex-flow: row wrap;
		gap: var(--l-space);
	}
}

.service__block {
	position: relative;
	flex: 0 0 40%;
	max-width: 30rem;
	padding: var(--m-space);
	padding-top: calc(3rem + var(--xs-space));
	background-color: hsl(var(--clr-bg) / .3);
	border: .2rem solid hsl(var(--clr-pri-400) / .5);
	box-shadow: .2rem .2rem 0 0 hsl(var(--clr-pri-400) / .5);
	transition: all 400ms ease;
}

@media (min-width: 48rem) {
	.service__block {
		flex: 1 0 40%;
		box-shadow: .3rem .3rem 0 0 hsl(var(--clr-pri-400) / .5);
	}
}

@media (min-width: 75rem) {
	.service__block {
		padding-top: calc(4rem + var(--xs-space));
		box-shadow: .4rem .4rem 0 0 hsl(var(--clr-pri-400) / .5);
	}
}

.service__block--title {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-end;
	gap: var(--m-space);
	position: absolute;
	top: -1.5rem;
	left: -.5rem;
}

.service__icon {
	width: 4rem;
	height: 4rem;
	filter: drop-shadow(.3rem .3rem 0 hsl(var(--clr-pri-400) / .75));
}

@media (min-width: 80rem) {
	.service__icon {
		width: 5rem;
		height: 5rem;
	}
}

.services__list li {
	position: relative;
	margin-left: var(--l-space);
}

.services__list li::before {
	content: '✔️';
	position: absolute;
	margin-left: calc(var(--l-space) * -1);
}

/* PORTFOLIO */


/* CONTACT */
.contact-form {
	display: flex;
	flex-direction: column;
	max-width: 50rem;
}

.contact-form label {
	display: none;
}

.contact-form input,
.contact-form textarea {
	font-family: inherit;
	font-size: inherit;
	padding: var(--xs-space);
	margin-bottom: var(--m-space);
	border: .2rem solid hsl(var(--clr-pri-400) / .5);
	border-radius: .5rem;
	box-shadow: .4rem .4rem 0 0 hsl(var(--clr-pri-400) / .5);
	transition: all .4s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
	outline: none;
	border: .2rem solid hsl(var(--clr-pri-400) / .5);
	box-shadow: none;
	transform: translate(.4rem, .4rem);
}