/* FONTS */
@import url('../fonts/fonts.css');

/* VARIABLE CSS */
:root {
	/* COLORS Preferable in HSL */
	--primary-color: hsl(0, 0%, 100%);
	--primary-color-alt: hsl(0, 0%, 91%);
	--secondary-color: hsl(0, 0%, 0%);
	--secondary-color-alt: hsl(0, 0%, 12%);
	--text-color: hsl(0, 0%, 20%);
	--text-color-light: hsl(0, 0%, 100%);
	--bg-color-light: hsl(0, 0%, 100%);
	--bg-color-dark: hsl(0, 0%, 20%);

	/* FONTS */
	--main-font: 'Open Sans', sans-serif;

	/* Font Sizes */
	--h1-font-size: 4rem;
	--h2-font-size: 2.5rem;
	--h3-font-size: 1.8rem;
	--big-font-size: 1.5rem;
	--normal-font-size: 1rem;
	--small-font-size: .8rem;

	/* Font Weights */
	--normal-font-weight: 400;
	--bold-font-weight: 600;

	/* Margins BOTTOM */
	--mb-0: .5rem;
	--mb-1: 1rem;
	--mb-2: 2rem;
	--mb-4: 4rem;
}

/* Default CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--main-font);
	font-size: var(--normal-font-size);
	color: var(--text-color);
	background-color: var(--bg-color-light);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}